@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
@import url("https://fonts.cdnfonts.com/css/satoshi");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "satoshi", sans-serif;
  background: #ffffff;
  scroll-behavior: smooth scroll;
}

html {
  scroll-behavior: smooth;
}
